$debug: false !default;
$scoped: false !default;
$scope: "sevenspan" !default;
$system-fonts: '-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"' !default;

/**
Button Default Values
*/
$default-button-variant: "primary" !default;
$default-button-style: "solid" !default;
$default-button-shape: "rectangle" !default;
$default-button-size: "md" !default;
$button-outline: 1px !default;
