// CSS VARIABLES
// Generates the CSS variable for all the SCSS variables and maps
// The standard of variable naming is: property--value--modifier
// Example: --color--primary--muted.
// The modifier "default" will not be added at the end.
// Example: --color--primary

:root {
  //COLORS
  @each $variant, $color in $shilp-colors {
    @each $shade, $value in $color {
      @if ($shade== "default") {
        --color--#{$variant}: #{$value};
      } @else {
        --color--#{$variant}--#{$shade}: #{$value};
      }
    }
  }

  //TEXT COLORS
  @each $variant, $color in $shilp-text-colors {
    @each $shade, $value in $color {
      --text-color--#{$variant}--#{$shade}: #{$value};
    }
  }

  //GRADIENT
  @each $variant, $colors in $shilp-gradients {
    @each $shade in $colors {
      --gradient--#{$variant}--#{index($colors,$shade)}: #{$shade};
    }
  }

  //FONT-FAMILIES
  @each $type, $value in $shilp-font-families {
    --font-family--#{$type}: #{$value};
  }

  //FONT-SIZES
  @each $size, $value in $shilp-font-sizes {
    --font-size--#{$size}: #{$value};
  }

  //FONT-WEIGHTS
  @each $type, $value in $shilp-font-weights {
    --font-weight--#{$type}: #{$value};
  }

  //SPACES
  @each $size, $value in $shilp-spaces {
    @if ($size== "default") {
      --space: #{$size};
    } @else {
      --space--#{$size}: #{$value};
    }
  }

  //INPUT-SIZES
  @each $size, $value in $shilp-input-sizes {
    @if ($size== "default") {
      --input-size: #{$value};
    } @else {
      --input-size--#{$size}: #{$value};
    }
  }

  //BORDER-RADIUS
  @each $size, $value in $shilp-border-radius {
    @if ($size== "default") {
      --border-radius: #{$value};
    } @else {
      --border-radius--#{$size}: #{$value};
    }
  }

  //BOX-SHADOW
  @each $size, $value in $shilp-box-shadows {
    @if ($size== "default") {
      --box-shadow: #{$value};
    } @else {
      --box-shadow--#{$size}: #{$value};
    }
  }

  // BREAKPOINTS
  // --breakpoint--mobile: #{map-get($breakpoints, mobile)};
  // --breakpoint--tablet: #{map-get($breakpoints, tablet)};
  // --breakpoint--laptop: #{map-get($breakpoints, laptop)};
  // --breakpoint--desktop: #{map-get($breakpoints, desktop)};

  // CONTAINER SIZES
  // --container-width--mobile: #{map-get($containers, mobile)};
  // --container-width--tablet: #{map-get($containers, tablet)};
  // --container-width--laptop: #{map-get($containers, laptop)};
  // --container-width--desktop: #{map-get($containers, desktop)};
}
