// DEFAULT CSS RULES
// This will be added at root level of the document if not scoped.

@mixin defaults {
  *,
  *:after,
  *:before {
    box-sizing: border-box;
  }

  img,
  svg {
    vertical-align: top;
  }

  strong,
  b {
    font-weight: --text(bold);
  }

  a {
    color: inherit;
  }

  small {
    font-size: --text(xs);
  }

  code {
    font-family: --text(code);
  }

  p {
    margin-top: 0;
    margin-bottom: 0;
    + p {
      margin-top: --space(2);
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: --text(heading);
    font-weight: --text(bold);
    margin: 0;
  }

  //Add font-size according to tags
  $shilp-heading-sizes: (
    h1: xxl,
    h2: xl,
    h3: lg,
    h4: md,
    h5: sm,
    h6: xs
  );
  @each $tag, $value in $shilp-heading-sizes {
    #{$tag} {
      font-size: --text($value);
    }
  }
}

// SCOPE
// If the scoped is true, the default rules will be applied under scoped selector.
// Useful when integrating with other CSS frameworks
@if map-get($shilp-config, scoped) {
  .#{map-get($shilp-config, scope)} {
    font-family: --text(content);
    @include defaults;
  }
} @else {
  @at-root {
    body {
      margin: 0;
      padding: 0;
      font-size: --text(sm);
      font-family: --text(content);
      overflow-x: hidden;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
    @include defaults;
  }
}
