// DEFAULT CSS RULES
// This will be added at root level of the document if not scoped.

@mixin defaults {
  *,
  *:after,
  *:before {
    box-sizing: border-box;
  }

  img,
  svg {
    vertical-align: top;
  }

  strong,
  b {
    font-weight: --font-weight(bold);
  }

  code {
    font-family: --font-family(code);
  }
}

// SCOPE
// If the scoped is true, the default rules will be applied under scoped selector.
// Useful when integrating with other CSS frameworks
@if $scoped {
  .#{$scope} {
    font-family: --font-family(content);
    font-weight: --font-family(regular);
    @include defaults;
  }
} @else {
  @at-root {
    body {
      margin: 0;
      padding: 0;
      font-family: --font-family(content);
      font-weight: --font-family(regular);
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
    @include defaults;
  }
}
