// DEFAULT CSS RULES
// This will be added at root level of the document if not scoped.

@mixin defaults {
  *,
  *:after,
  *:before {
    box-sizing: border-box;
  }

  img,
  svg {
    vertical-align: top;
  }

  strong,
  b {
    font-weight: --font-weight(bold);
  }

  a {
    color: inherit;
  }

  small {
    font-size: --font-size(h6);
  }

  code {
    font-family: --font-family(code);
  }

  p {
    margin-top: 0;
    margin-bottom: 0;
    + p {
      margin-top: --space(sm);
    }
  }
}

// SCOPE
// If the scoped is true, the default rules will be applied under scoped selector.
// Useful when integrating with other CSS frameworks
@if map-get($shilp-config, scoped) {
  .#{map-get($shilp-config, scope)} {
    font-family: --font-family(content);
    font-weight: --font-weight(regular);
    @include defaults;
  }
} @else {
  @at-root {
    body {
      margin: 0;
      padding: 0;
      font-size: --font-size(h5);
      font-family: --font-family(content);
      font-weight: --font-weight(regular);
      overflow-x: hidden;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
    @include defaults;
  }
}
