// MAP DEEP GET
// Get Deeper Values from Map
@function map-deep-get($map, $keys...) {
  @each $key in $keys {
    $map: map-get($map, $key);
  }
  @return $map;
}

// BREAKPOINT CLASS
//Automatically generates class for given breakpoint
@function breakpoint-class($breakpoint, $class) {
  @if ($breakpoint== "desktop") {
    $class: #{$class};
  } @else {
    $class: #{$breakpoint}--#{$class};
  }
  @return $class;
}

// CSS VARIABLES
// @prop: Property (Color, Font-Family, Font-Size)
// @val : Value (Blue)
// @mod : Modifier (Dark, Light)
@function --var($prop, $val, $mod: "") {
  @if ($mod== "") {
    @return var(--#{$prop}--#{$val});
  }
  @return var(--#{$prop}--#{$val}--#{$mod});
}

@function --color($val, $mod: "") {
  @return --var("color", $val, $mod);
}

@function --text-color($val, $mod: "") {
  @return --var("text-color", $val, $mod);
}

@function --space($val, $mod: "") {
  @return --var("space", $val, $mod);
}

@function --gap($val, $mod: "") {
  @return --var("gap", $val, $mod);
}

@function --input-size($val, $mod: "") {
  @return --var("input-size", $val, $mod);
}

@function --font-weight($val, $mod: "") {
  @return --var("font-weight", $val, $mod);
}

@function --font-family($val, $mod: "") {
  @return --var("font-family", $val, $mod);
}
