// RESETS
// Resets the markup of HTML tags
@mixin button--reset {
  background: transparent;
  border: none;
  outline: 0;
  padding: 0;
  cursor: pointer;
}

@mixin ul--reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

// POSITION
@mixin position($pos: absolute, $t: 0, $r: 0, $b: 0, $l: 0) {
  position: $pos;
  top: $t;
  right: $r;
  bottom: $b;
  left: $l;
}
