/*----------------------------------
BREAKPOINTS
Desktop First approach
----------------------------------*/
$breakpoints: (
  //desktop: 1440px,
    laptop: 1200px,
  tablet: 992px,
  phablet: 768px,
  phone: 576px
) !default;

/*----------------------------------
BOXES
Sames as containers in bootstrap
----------------------------------*/
$boxes: (
  desktop: 1140px,
  laptop: 960px,
  tablet: 720px,
  phablet: 540px,
  phone: 100%
) !default;

$gaps: (
  default: 24px,
  desktop: 16px,
  laptop: 16px,
  tablet: 16px,
  phablet: 16px,
  phone: 16px,
  xs: 8px,
  sm: 16px,
  md: 24px,
  lg: 32px,
  xl: 40px
) !default;

$spaces: (
  0: 0px,
  xs: 8px,
  sm: 16px,
  md: 24px,
  default: 24px,
  lg: 32px,
  xl: 40px
) !default;

$input-sizes: (
  xs: 16px,
  sm: 24px,
  md: 32px,
  default: 32px,
  lg: 40px,
  xl: 48px
) !default;

/*----------------------------------
SIZES
----------------------------------*/
$sizes: "0", "xs", "sm", "md", "lg", "xl";

/*----------------------------------
COLOR MAP
----------------------------------*/
$colors: (
  primary: (
    default: #3f51b5,
    hover: #283593,
    muted: #e8eaf6,
    text: #ffffff
  ),
  secondary: (
    default: #00bcd4,
    hover: #00838f,
    muted: #e3f2fd,
    text: #ffffff
  ),
  accent: (
    default: #ffc107,
    hover: #ff8f00,
    muted: #fff8e1,
    text: #000000
  ),
  dark: (
    default: #263238,
    hover: #37474f,
    muted: #37474f,
    text: #ffffff
  ),
  light: (
    default: #eceff1,
    hover: #cfd8dc,
    muted: #cfd8dc,
    text: #000000
  ),
  danger: (
    default: #f44336,
    hover: #d32f2f,
    muted: #ffebee,
    text: #ffffff
  ),
  warning: (
    default: #ffc107,
    hover: #ffa000,
    muted: #fff8e1,
    text: #000000
  ),
  success: (
    default: #4caf50,
    hover: #388e3c,
    muted: #e8f5e9,
    text: #ffffff
  ),
  info: (
    default: #2196f3,
    hover: #1976d2,
    muted: #e3f2fd,
    text: #ffffff
  )
) !default;

$greys: (
  lightest: #eceff1,
  lighter: #cfd8dc,
  light: #b0bec5,
  default: #607d8b,
  dark: #455a64,
  darker: #37474f,
  darkest: #263238
) !default;

$social: (
  facebook: #3b5999,
  messenger: #0084ff,
  twitter: #55acee,
  linkedin: #0077b5,
  skype: #00aff0,
  pinterest: #bd081c,
  youtube: #cd201f,
  reddit: #ff5700,
  whatsapp: #25d366,
  instagram: #e4405f,
  snapchat: #fffc00,
  quora: #b92b27
) !default;

/*----------------------------------
HEADINGS
----------------------------------*/
$headings: (
  "h1": (
    size: 48px
  ),
  "h2": (
    size: 36px
  ),
  "h3": (
    size: 24px
  ),
  "h4": (
    size: 18px
  ),
  "h5": (
    size: 16px
  ),
  "h6": (
    size: 13px
  )
) !default;

/*----------------------------------
FONTS
----------------------------------*/
$system-fonts: '-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"';

$font: (
  family: (
    heading: $system-fonts,
    content: $system-fonts,
    code: '"Courier New", Courier, monospace'
  ),
  weight: (
    light: 300,
    regular: 400,
    bold: 600
  )
) !default;
