/*
STYLES COLORS
Map should follow this format: ColorName > Shade > Color Code
*/
$styles-colors: () !default;
$styles-colors: map-merge(
  (
    primary: (
      default: #3f51b5,
      hover: #283593,
      muted: #e8eaf6,
      text: #ffffff
    ),
    secondary: (
      default: #00bcd4,
      hover: #00838f,
      muted: #e3f2fd,
      text: #ffffff
    ),
    accent: (
      default: #ffc107,
      hover: #ff8f00,
      muted: #fff8e1,
      text: #000000
    ),
    dark: (
      default: #263238,
      hover: #37474f,
      muted: #37474f,
      text: #ffffff
    ),
    light: (
      default: #eceff1,
      hover: #cfd8dc,
      muted: #cfd8dc,
      text: #000000
    ),
    danger: (
      default: #f44336,
      hover: #d32f2f,
      muted: #ffebee,
      text: #ffffff
    ),
    warning: (
      default: #ffc107,
      hover: #ffa000,
      muted: #fff8e1,
      text: #000000
    ),
    success: (
      default: #4caf50,
      hover: #388e3c,
      muted: #e8f5e9,
      text: #ffffff
    ),
    info: (
      default: #2196f3,
      hover: #1976d2,
      muted: #e3f2fd,
      text: #ffffff
    ),
    grey: (
      lightest: #eceff1,
      lighter: #cfd8dc,
      light: #b0bec5,
      default: #607d8b,
      dark: #455a64,
      darker: #37474f,
      darkest: #263238
    )
  ),
  $styles-colors
);

/*
FONT-FAMILIES
*/
$styles-font-families: () !default;
$styles-font-families: map-merge(
  (
    system: $system-fonts,
    heading: $system-fonts,
    content: $system-fonts,
    code: '"Courier New", Courier, monospace'
  ),
  $styles-font-families
);

/*
FONT-WEIGHTS
*/
$styles-font-weights: () !default;
$styles-font-weights: map-merge(
  (
    light: 300,
    regular: 400,
    bold: 600
  ),
  $styles-font-weights
);

/*
FONT-SIZES
*/
$styles-font-sizes: () !default;
$styles-font-sizes: map-merge(
  (
    h1: 48px,
    h2: 36px,
    h3: 24px,
    h4: 18px,
    h5: 16px,
    h6: 13px,
    p: 16px,
    span: 16px,
    small: 12px,
    code: 14px
  ),
  $styles-font-sizes
);

/*
TEXT
Defines the default font sizes, family and weights
The CSS variables are just a normal text for SCSS which will be rendered run time.
The CSS varialbes are used as fallback value.
*/
$styles-text: () !default;
$styles-text: map-merge(
  (
    "h1": (
      font-family: var(--font-family--heading),
      font-weight: var(--font-weight--bold)
    ),
    "h2": (
      font-family: var(--font-family--heading),
      font-weight: var(--font-weight--bold)
    ),
    "h3": (
      font-family: var(--font-family--heading),
      font-weight: var(--font-weight--bold)
    ),
    "h4": (
      font-family: var(--font-family--heading),
      font-weight: var(--font-weight--bold)
    ),
    "h5": (
      font-family: var(--font-family--heading),
      font-weight: var(--font-weight--bold)
    ),
    "h6": (
      font-family: var(--font-family--heading),
      font-weight: var(--font-weight--bold)
    )
  ),
  $styles-text
);

/*
SIZES 
Diffrent sizing for elements, spacing, margin.
I.e. is--xs, space--sm, p--xl
*/
$styles-sizes: "0", "xs", "sm", "md", "lg", "xl";

/*
BREAKPOINTS
Follows the desktop-first approach.
*/
$styles-breakpoints: () !default;
$styles-breakpoints: map-merge(
  (
    laptop: 1200px,
    tablet: 992px,
    phablet: 768px,
    phone: 576px
  ),
  $styles-breakpoints
);

/*
BOXES
Container sizes for boxed content.
Works just like Bootstrap's "container"
*/
$styles-boxes: () !default;
$styles-boxes: map-merge(
  (
    desktop: 1140px,
    laptop: 960px,
    tablet: 720px,
    phablet: 540px,
    phone: 100%
  ),
  $styles-boxes
);

/*
GAPS
The sizes are used for keeping gap between blocks(aka grid).
The values same as breakpoint names will be used for gap in active media query.
*/
//TODO Reduce the number of variables and use the space instead!

$styles-gaps: () !default;
$styles-gaps: map-merge(
  (
    default: 24px,
    desktop: 16px,
    laptop: 16px,
    tablet: 16px,
    phablet: 16px,
    phone: 16px,
    xs: 8px,
    sm: 16px,
    md: 24px,
    lg: 32px,
    xl: 40px
  ),
  $styles-gaps
);

/*
SPACES
Used for spacing values in margin, padding etc.
*/
$styles-spaces: () !default;
$styles-spaces: map-merge(
  (
    0: 0px,
    xs: 8px,
    sm: 16px,
    md: 24px,
    default: 24px,
    lg: 32px,
    xl: 40px
  ),
  $styles-spaces
);

/*
INPUT SIZES
Sizes for input, buttons.
*/
$styles-input-sizes: () !default;
$styles-input-sizes: map-merge(
  (
    xs: 16px,
    sm: 24px,
    md: 32px,
    default: 32px,
    lg: 40px,
    xl: 48px
  ),
  $styles-input-sizes
);

/*
BORDER_RADIUS
*/
$styles-border-radius: () !default;
$styles-border-radius: map-merge(
  (
    xs: 2px,
    sm: 4px,
    md: 6px,
    default: 6px,
    lg: 8px,
    xl: 10px
  ),
  $styles-border-radius
);
