@import "./config/index.scss";
body {
  font-family: var(--font--content);
}

%defaults {
  *,
  *:after,
  *:before {
    box-sizing: border-box;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font--heading);
  }

  p,
  small,
  span {
    font-family: var(--font--content);
  }

  $headers: h1, h2, h3, h4, h5, h6, p, span, small;

  @each $header in $headers {
    #{$header} {
      font-size: var(--font-size--#{$header});
    }
  }

  img,
  svg {
    vertical-align: top;
  }
}

@if $scoped {
  .#{$scope} {
    @extend %defaults;
  }
} @else {
  body {
    @extend %defaults;
  }
}
