<!DOCTYPE html>
html
  head
    include includes/head.pug
  body
    .ss-container
      h1 Inputs
      include components/inputs.pug

      h1 Buttons
      include components/buttons.pug

      h1 Grid
      include components/grid.pug

