// COLORS
// Map should follow this format: ColorName > Shade : Color Code

$shilp-colors: () !default;
$shilp-colors: map-merge(
  (
    "primary": (
      lightest: #cce4fd,
      lighter: #65a2f4,
      light: #3f82ea,
      default: #0652dd,
      dark: #043fbe,
      darker: #032e9f,
      darkest: #01176a
    ),
    "secondary": (
      lightest: #cefcea,
      lighter: #6cefd3,
      light: #46dfcc,
      default: #12cbc4,
      dark: #0da6ae,
      darker: #097f92,
      darkest: #003867
    ),
    "accent": (
      lightest: #fff7cf,
      lighter: #ffe270,
      light: #ffd64d,
      default: #ffc312,
      dark: #dba10d,
      darker: #b78209,
      darkest: #7a4f03
    ),
    "danger": (
      lightest: #fde2ce,
      lighter: #f4916e,
      light: #e96649,
      default: #db2713,
      dark: #bc110d,
      darker: #9d0912,
      darkest: #69031a
    ),
    "warning": (
      lightest: #fef5cc,
      lighter: #f9d666,
      light: #f4c340,
      default: #eda704,
      dark: #cb8902,
      darker: #aa6d02,
      darkest: #714100
    ),
    "success": (
      lightest: #e4fad2,
      lighter: #97e577,
      light: #6bcc51,
      default: #34aa22,
      dark: #1f9218,
      darker: #117a13,
      darkest: #065114
    ),
    "info": (
      lightest: #cafdf4,
      lighter: #61f3f2,
      light: #39dbe7,
      default: #00b8d8,
      dark: #008fb9,
      darker: #006c9b,
      darkest: #003867
    ),
    "grey": (
      lightest: #eceff1,
      lighter: #cfd8dc,
      light: #b0bec5,
      default: #607d8b,
      dark: #455a64,
      darker: #37474f,
      darkest: #263238
    ),
    "white": (
      default: #ffffff
    ),
    "black": (
      default: #000000
    )
  ),
  $shilp-colors
);

//TEXT COLORS IN CONTRAST TO COLORS
// Make sure the color names are used in contrast to the actual colors defined in top map
$shilp-text-colors: () !default;
$shilp-text-colors: map-merge(
  (
    "primary": (
      dark: #ffffff,
      light: #0652dd
    ),
    "secondary": (
      dark: #ffffff,
      light: #003867
    ),
    "accent": (
      dark: #ffffff,
      light: #7a4f03
    ),
    "success": (
      dark: #ffffff,
      light: #065114
    ),
    "warning": (
      dark: #ffffff,
      light: #714100
    ),
    "danger": (
      dark: #ffffff,
      light: #69031a
    ),
    "info": (
      dark: #ffffff,
      light: #003867
    ),
    "grey": (
      dark: #ffffff,
      light: #263238
    )
  ),
  $shilp-text-colors
);

// GRADIENTS
// Map should follow this format: ColorName > Shade : Color Code

$shilp-gradients: () !default;
$shilp-gradients: map-merge(
  (
    "primary": (
      #9075ee,
      #71a9de
    ),
    "secondary": (
      #f487c1,
      #fe8d7d
    )
  ),
  $shilp-gradients
);
