// STYLES COLORS
// Map should follow this format: ColorName > Shade : Color Code

$styles-colors: () !default;
$styles-colors: map-merge(
  (
    "primary": (
      lightest: #dae1fb,
      lighter: #8d9ee8,
      light: #6b7cd2,
      default: #3f51b5,
      dark: #2e3d9b,
      darker: #1f2b82,
      darkest: #0c1256,
      text: #ffffff
    ),
    "secondary": (
      lightest: #cafdf4,
      lighter: #61f3f2,
      light: #39dbe7,
      default: #00b8d8,
      dark: #008fb9,
      darker: #006c9b,
      darkest: #003867,
      text: #ffffff
    ),
    "accent": (
      lightest: #fef5cc,
      lighter: #f9d666,
      light: #f4c340,
      default: #eda704,
      dark: #cb8902,
      darker: #aa6d02,
      darkest: #714100,
      text: #000000
    ),
    "danger": (
      lightest: #fde2ce,
      lighter: #f4916e,
      light: #e96649,
      default: #db2713,
      dark: #bc110d,
      darker: #9d0912,
      darkest: #69031a,
      text: #ffffff
    ),
    "warning": (
      lightest: #fef5cc,
      lighter: #f9d666,
      light: #f4c340,
      default: #eda704,
      dark: #cb8902,
      darker: #aa6d02,
      darkest: #714100,
      text: #000000
    ),
    "success": (
      lightest: #e4fad2,
      lighter: #97e577,
      light: #6bcc51,
      default: #34aa22,
      dark: #1f9218,
      darker: #117a13,
      darkest: #065114,
      text: #ffffff
    ),
    "info": (
      lightest: #cafdf4,
      lighter: #61f3f2,
      light: #39dbe7,
      default: #00b8d8,
      dark: #008fb9,
      darker: #006c9b,
      darkest: #003867,
      text: #ffffff
    ),
    "grey": (
      lightest: #eceff1,
      lighter: #cfd8dc,
      light: #b0bec5,
      default: #607d8b,
      dark: #455a64,
      darker: #37474f,
      darkest: #263238
    )
  ),
  $styles-colors
);
