// FONTS
$shilp-fonts: () !default;
$shilp-fonts: map-merge(
  (
    heading: "sytem",
    content: "system",
    emoji: '"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"',
    code:
      'Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace'
  ),
  $shilp-fonts
);

$shilp-font-families: (
  system: map-get($shilp-config, system-fonts),
  heading: font-with-fallback(heading),
  content: font-with-fallback(content),
  code: font-with-fallback(code),
  emoji: map-get($shilp-fonts, emoji)
);

// FONT-SIZES
$shilp-font-sizes: () !default;
$shilp-font-sizes: map-merge(
  (
    xxl: 48px,
    xl: 36px,
    lg: 24px,
    md: 18px,
    sm: 14px,
    xs: 12px
  ),
  $shilp-font-sizes
);
