// FONTS
$shilp-fonts: () !default;
$shilp-fonts: map-merge(
  (
    heading: "system",
    content: "system"
  ),
  $shilp-fonts
);

$shilp-font-families: (
  system: map-get($shilp-config, system-fonts),
  heading: font-with-fallback(heading),
  content: font-with-fallback(content)
);

// FONT-WEIGHTS
$shilp-font-weights: () !default;
$shilp-font-weights: map-merge(
  (
    light: 300,
    regular: 400,
    bold: 600
  ),
  $shilp-font-weights
);

// FONT-SIZES
$shilp-font-sizes: () !default;
$shilp-font-sizes: map-merge(
  (
    xxl: 48px,
    xl: 36px,
    lg: 24px,
    md: 18px,
    sm: 14px,
    xs: 12px
  ),
  $shilp-font-sizes
);

$shilp-font-size-map: (
  h1: xxl,
  h2: xl,
  h3: lg,
  h4: md,
  h5: sm,
  h6: xs
);
