// FONTS
$shilp-fonts: () !default;
$shilp-fonts: map-merge(
  (
    heading: "",
    content: "",
    code: "monospace"
  ),
  $shilp-fonts
);

$shilp-font-families: (
  system: map-get($shilp-config, system-fonts),
  heading: font-with-fallback(map-get($shilp-fonts, heading)),
  content: font-with-fallback(map-get($shilp-fonts, content)),
  code: font-with-fallback(map-get($shilp-fonts, code))
);

// FONT-WEIGHTS
$shilp-font-weights: () !default;
$shilp-font-weights: map-merge(
  (
    light: 300,
    regular: 400,
    bold: 600
  ),
  $shilp-font-weights
);

// FONT-SIZES
$shilp-font-sizes: () !default;
$shilp-font-sizes: map-merge(
  (
    h1: 48px,
    h2: 36px,
    h3: 24px,
    h4: 18px,
    h5: 16px,
    h6: 13px
  ),
  $shilp-font-sizes
);

// TEXT
// Defines the default font sizes, family and weights
// The CSS variables are just a normal text for SCSS which will be rendered run time.
// The CSS varialbes are used as fallback value.

$shilp-text: () !default;
$shilp-text: map-merge(
  (
    "h1": (
      font-family: var(--font-family--heading),
      font-weight: var(--font-weight--bold)
    ),
    "h2": (
      font-family: var(--font-family--heading),
      font-weight: var(--font-weight--bold)
    ),
    "h3": (
      font-family: var(--font-family--heading),
      font-weight: var(--font-weight--bold)
    ),
    "h4": (
      font-family: var(--font-family--heading),
      font-weight: var(--font-weight--bold)
    ),
    "h5": (
      font-family: var(--font-family--heading),
      font-weight: var(--font-weight--bold)
    ),
    "h6": (
      font-family: var(--font-family--heading),
      font-weight: var(--font-weight--bold)
    )
  ),
  $shilp-text
);
