// BREAKPOINTS
$shilp-breakpoints: () !default;
$shilp-breakpoints: map-merge(
  (
    //phone not required in mobile first approach
      phablet: 576px,
    tablet: 768px,
    laptop: 992px,
    desktop: 1200px
  ),
  $shilp-breakpoints
);

// SPACES
// Used for spacing values in margin, padding etc.
// The sizes are also used for keeping gap between blocks(aka grid).
$shilp-spaces: () !default;
$shilp-spaces: map-merge(
  (
    1: 4px,
    2: 8px,
    3: 16px,
    4: 24px,
    5: 40px,
    6: 56px,
    7: 72px
  ),
  $shilp-spaces
);
