// BREAKPOINTS
$shilp-breakpoints: () !default;
$shilp-breakpoints: map-merge(
  (
    //phone not required in mobile first approach
      phablet: 576px,
    tablet: 768px,
    laptop: 992px,
    desktop: 1200px
  ),
  $shilp-breakpoints
);

// SPACES
// Used for spacing values in margin, padding etc.
// The sizes are also used for keeping gap between blocks(aka grid).
$shilp-spaces: () !default;
$shilp-spaces: map-merge(
  (
    1: 4px,
    2: 8px,
    3: 16px,
    4: 24px,
    5: 32px,
    6: 40px,
    // xxs: 4px,
      // xs: 8px,
      // sm: 16px,
      // md: 24px,
      // lg: 32px,
      // xl: 40px
  ),
  $shilp-spaces
);
