//---------- POSITION
@mixin position($pos: absolute, $t: 0, $r: 0, $b: 0, $l: 0) {
  position: $pos;
  top: $t;
  right: $r;
  bottom: $b;
  left: $l;
}

//---------- COMPONENT VARS
// Adds CSS Variables to provided component's block class
@mixin component-vars($block, $vars) {
  @each $key, $value in $vars {
    --#{$block}--#{$key}: #{$value};
  }
}
