:root {
  /* BRAND COLORS */
  --color--primary: #3f51b5;
  --color--secondary: #00bcd4;
  --color--accent: #ffc107;
  --color--dark: #263238;
  --color--light: #eceff1;
  --color--focus: #b3e5fc;

  /* STATE COLORS */
  --color--danger: #f44336;
  --color--warning: #ffc107;
  --color--success: #4caf50;
  --color--info: #2196f3;

  /* BRAND COLORS HOVERS */
  --color--primary--hover: #283593;
  --color--secondary--hover: #00838f;
  --color--accent--hover: #ff8f00;
  --color--dark--hover: #37474f;
  --color--light--hover: #cfd8dc;

  /*STATE HOVER COLORS */
  --color--danger--hover: #d32f2f;
  --color--warning--hover: #ffa000;
  --color--success--hover: #388e3c;
  --color--info--hover: #1976d2;

  /* BRAND COLORS MUTED */
  --color--primary--muted: #e8eaf6;
  --color--secondary--muted: #e3f2fd;
  --color--accent--muted: #fff8e1;
  --color--dark--muted: #37474f; //TODO:
  --color--light--muted: #cfd8dc; //TODO:

  /*STATE HOVER MUTED */
  --color--danger--muted: #ffebee;
  --color--warning--muted: #fff8e1;
  --color--success--muted: #e8f5e9;
  --color--info--muted: #e3f2fd;

  /* TEXT COLORS*/
  --text-color--primary: #ffffff;
  --text-color--secondary: #ffffff;
  --text-color--accent: #000000;
  --text-color--light: #000000;
  --text-color--dark: #ffffff;

  /* STATE TEXT COLORS */
  --text-color--danger: #ffffff;
  --text-color--warning: #000000;
  --text-color--success: #ffffff;
  --text-color--info: #ffffff;

  /* BORDER COLORS */
  --border-color: #b0bec5;

  /* SOCIAL COLORS */
  --color--facebook: #3b5999;
  --color--messenger: #0084ff;
  --color--twitter: #55acee;
  --color--linkedin: #0077b5;
  --color--skype: #00aff0;
  --color--pinterest: #bd081c;
  --color--youtube: #cd201f;
  --color--reddit: #ff5700;
  --color--whatsapp: #25d366;
  --color--instagram: #e4405f;
  --color--snapchat: #fffc00;
  --color--quora: #b92b27;

  /* GREYS */
  --grey--lightest: #eceff1;
  --grey--lighter: #cfd8dc;
  --grey--light: #b0bec5;
  --grey: #607d8b;
  --grey--dark: #455a64;
  --grey--darker: #37474f;
  --grey--darkest: #263238;

  /* FONTS */
  --font-system: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  --font--heading: var(--font-system);
  --font--content: var(--font-system);

  /* FONT SIZE */
  --font-size--h1: 48px;
  --font-size--h2: 36px;
  --font-size--h3: 24px;
  --font-size--h4: 18px;
  --font-size--h5: 16px;
  --font-size--h6: 13px;
  --font-size--p: 16px;
  --font-size--span: 14px;
  --font-size--small: 12px;

  /* FONT WEIGHTS */
  --font-weight: 400;
  --font-weight--bold: 600;
  --font-weight--light: 300;

  /* BORDER RADIUS */
  --border-radius--sm: 0px;
  --border-radius: 0px;
  --border-radius--lg: 0px;

  /* SPACE */
  --space--xs: 8px;
  --space--sm: 16px;
  --space--md: 24px;
  --space: 24px;
  --space--lg: 32px;
  --space--xl: 40px;

  /* INPUT SIZE */
  --input-size--xs: 16px;
  --input-size--sm: 24px;
  --input-size--md: 32px;
  --input-size: 32px;
  --input-size--lg: 40px;
  --input-size--xl: 48px;

  /* BOX-SHADOWS */
  --box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.15);

  /* BREAKPOINTS */
  --breakpoint--xs: #{map-get($breakpoints, xs)};
  --breakpoint--sm: #{map-get($breakpoints, sm)};
  --breakpoint--md: #{map-get($breakpoints, md)};
  --breakpoint--lg: #{map-get($breakpoints, lg)};

  /* CONTAINER SIZES*/
  --container-width--xs: 100%;
  --container-width--sm: 540px;
  --container-width--md: 720px;
  --container-width--lg: 960px;
  --container-width--xl: 1140px;

  /*GAP*/
  --gap--xs: 4px;
  --gap--sm: 8px;
  --gap--md: 12px;
  --gap: 12px;
  --gap--lg: 16px;
  --gap--xl: 20px;
}
