@mixin define-colors{
  @each $variant, $color in $colors {
    @each $shade,$code in $color{
      @if($shade=='default'){
        --color--#{$variant}:#{$code}
      }
      @else if($shade=='text'){
        --text-color--#{$variant}:#{$code}
      }
      @else{
        --color--#{$variant}--#{$shade}:#{$code}
      }
    }
  }
}

:root {
  @include define-colors;
  --color--focus: #b3e5fc;

  /* BORDER COLORS */
  --border-color: #b0bec5;

  /* SOCIAL COLORS */
  --color--facebook: #3b5999;
  --color--messenger: #0084ff;
  --color--twitter: #55acee;
  --color--linkedin: #0077b5;
  --color--skype: #00aff0;
  --color--pinterest: #bd081c;
  --color--youtube: #cd201f;
  --color--reddit: #ff5700;
  --color--whatsapp: #25d366;
  --color--instagram: #e4405f;
  --color--snapchat: #fffc00;
  --color--quora: #b92b27;

  /* GREYS */
  --color--grey--lightest: #eceff1;
  --color--grey--lighter: #cfd8dc;
  --color--grey--light: #b0bec5;
  --color--grey: #607d8b;
  --color--grey--dark: #455a64;
  --color--grey--darker: #37474f;
  --color--grey--darkest: #263238;

  /* FONTS */
  --font-system: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  --font--heading: var(--font-system);
  --font--content: var(--font-system);

  /* FONT SIZE */
  --font-size--h1: 48px;
  --font-size--h2: 36px;
  --font-size--h3: 24px;
  --font-size--h4: 18px;
  --font-size--h5: 16px;
  --font-size--h6: 13px;
  --font-size--p: 16px;
  --font-size--span: 14px;
  --font-size--small: 12px;

  /* FONT WEIGHTS */
  --font-weight: 400;
  --font-weight--bold: 600;
  --font-weight--light: 300;

  /* BORDER RADIUS */
  --border-radius--sm: 0px;
  --border-radius: 0px;
  --border-radius--lg: 0px;

  /* SPACE */
  --space--0: 0px;
  --space--xs: 8px;
  --space--sm: 16px;
  --space--md: 24px;
  --space: 24px;
  --space--lg: 32px;
  --space--xl: 40px;

  /* INPUT SIZE */
  --input-size--xs: 16px;
  --input-size--sm: 24px;
  --input-size--md: 32px;
  --input-size: 32px;
  --input-size--lg: 40px;
  --input-size--xl: 48px;

  /* BOX-SHADOWS */
  --box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.15);

  // /* BREAKPOINTS */
  // --breakpoint--mobile: #{map-get($breakpoints, mobile)};
  // --breakpoint--tablet: #{map-get($breakpoints, tablet)};
  // --breakpoint--laptop: #{map-get($breakpoints, laptop)};
  // --breakpoint--desktop: #{map-get($breakpoints, desktop)};

  // /* CONTAINER SIZES*/
  // --container-width--mobile: #{map-get($containers, mobile)};
  // --container-width--tablet: #{map-get($containers, tablet)};
  // --container-width--laptop: #{map-get($containers, laptop)};
  // --container-width--desktop: #{map-get($containers, desktop)};

  /*GAP*/
  --gap--desktop: 16px;
  --gap--laptop: 16px;
  --gap--tablet: 16px;
  --gap--phablet: 16px;
  --gap--phone: 16px;

  --gap--xs: 8px;
  --gap--sm: 16px;
  --gap--md: 24px;
  --gap: 24px;
  --gap--lg: 32px;
  --gap--xl: 40px;
}
