$debug: false !default;
$scoped: false !default;
$scope: "sevenspan" !default;
$default-breakpoint: "desktop" !default;

//SCSS VARIABLES
@import "./vars";

//MATERIAL COLORS
@import "./material-colors";

//7SPAN MIXINS
@import "./mixins";

//7SPAN FUNCTIONS
@import "./functions";

//CSS VARIABLES
@import "./css-vars";
