table
  tbody
    tr
      td Colors
      td
        button.is-primary(type='button') Primary
      td
        button.is-secondary(type='button') Secondary
      td
        button.is-accent(type='button') Accent
      td
        button.is-light(type='button') Light
      td
        button.is-dark(type='button') Dark
    tr
      td Size
      td 
        button.is-primary.is-xs(type='button') Xtra Small
      td 
        button.is-primary.is-sm(type='button') Small
      td 
        button.is-primary.is-md(type='button') Medium
      td 
        button.is-primary.is-lg(type='button') Large
    tr
      td Style
      td
        button.is-primary(type='button') Solid
      td
        button.is-primary.is-outline(type='button') Outline
      td
      td
      td
    tr
      td Shape
      td
        button.is-primary.is-flat(type='button' disabled) Flat 
      td
        button.is-primary.is-rounded(type='button') Rounded 
      td
        button.is-primary.is-pill(type='button') Pill
      td
        button.is-primary.is-square(type='button')
          svg(style='width:24px;height:24px' viewBox='0 0 24 24')
            path(fill='#000000',d='M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z')
      td
        button.is-primary.is-circle(type='button')
          svg(style='width:24px;height:24px' viewBox='0 0 24 24')
            path(fill='#000000',d='M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z')
    tr 
      td Icon
      td
        button.is-primary.is-lg(type='button') 
          svg(style='width:24px;height:24px' viewBox='0 0 24 24')
            path(fill='#000000',d='M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z')
          | Large 
      td
        button.is-primary(type='button') 
          svg(style='width:24px;height:24px' viewBox='0 0 24 24')
            path(fill='#000000',d='M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z')
          | Medium 
      td
        button.is-primary.is-sm(type='button') 
          svg(style='width:24px;height:24px' viewBox='0 0 24 24')
            path(fill='#000000',d='M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z')
          | Small 
      td
        button.is-primary.is-xs(type='button') 
          svg(style='width:24px;height:24px' viewBox='0 0 24 24')
            path(fill='#000000',d='M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z')
          | Extra Small 
    tr 
      td Loading
      td
        button.is-primary.is-lg.is-loading(type='button') 
          svg(style='width:24px;height:24px' viewBox='0 0 24 24')
            path(fill='#000000',d='M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z')
          | Large 
      td
      td
      td