table
  tbody
    tr
      td Colors
      td
        button.button--primary(type='button') Primary
      td
        button.button--secondary(type='button') Secondary
      td
        button.button--accent(type='button') Accent
      td
        button.button--light(type='button') Light
      td
        button.button--dark(type='button') Dark
    tr
      td Size
      td 
        button.button--primary.button--xs(type='button') Xtra Small
      td 
        button.button--primary.button--sm(type='button') Small
      td 
        button.button--primary.button--md(type='button') Medium
      td 
        button.button--primary.button--lg(type='button') Large
    tr
      td Style
      td
        button.button--primary(type='button') Solid
      td
        button.button--primary.button--outline(type='button') Outline
      td
      td
      td
    tr
      td Shape
      td
        button.button--primary.button--flat(type='button' disabled) Flat 
      td
        button.button--primary.button--rounded(type='button') Rounded 
      td
        button.button--primary.button--pill(type='button') Pill
      td
        button.button--primary.button--square(type='button')
          svg(style='width:24px;height:24px' viewBox='0 0 24 24')
            path(fill='#000000',d='M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z')
      td
        button.button--primary.button--circle(type='button')
          svg(style='width:24px;height:24px' viewBox='0 0 24 24')
            path(fill='#000000',d='M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z')
    tr 
      td Icon
      td
        button.button--primary.button--lg(type='button') 
          svg(style='width:24px;height:24px' viewBox='0 0 24 24')
            path(fill='#000000',d='M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z')
          | Large 
      td
        button.button--primary(type='button') 
          svg(style='width:24px;height:24px' viewBox='0 0 24 24')
            path(fill='#000000',d='M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z')
          | Medium 
      td
        button.button--primary.button--sm(type='button') 
          svg(style='width:24px;height:24px' viewBox='0 0 24 24')
            path(fill='#000000',d='M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z')
          | Small 
      td
        button.button--primary.button--xs(type='button') 
          svg(style='width:24px;height:24px' viewBox='0 0 24 24')
            path(fill='#000000',d='M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z')
          | Extra Small 
    tr 
      td Loading
      td
        button.button--primary.button--lg.is-loading(type='button') 
          svg(style='width:24px;height:24px' viewBox='0 0 24 24')
            path(fill='#000000',d='M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z')
          | Large 
      td
      td
      td