.wrap(style="background:blue") Hello!
.ss-container
  .ss-row
    .ss-col.is-4.sm--is-6.xs--is-12
      p 1
    .ss-col.is-6.xs--is-6
      p 2
    .ss-col.is-2.xs--is-6
      p 3
    .ss-col.is-2
      p 3