.ss-row
  .ss-col.is-6
    .ss-row.is-multi.is-xs.md--is-lg.xs--is-xs
      .ss-col.is-6
        input.is-xl(type="text" placeholder="First Name")
      .ss-col.is-6
        input.is-xl(type="text" placeholder="Age" disabled)

      .ss-col.is-6
        input.is-lg(type="text" placeholder="First Name")
      .ss-col.is-6
        input.is-lg(type="text" placeholder="Age" disabled)

      .ss-col.is-6
        input(type="text" placeholder="First Name")
      .ss-col.is-6
        input(type="text" placeholder="Age" disabled)

      .ss-col.is-6
        input.is-sm(type="text" placeholder="First Name")
      .ss-col.is-6
        input.is-sm(type="text" placeholder="Age" disabled)

br
br
.ss-row
  .ss-col.is-3
    .field
      label First Name
      input(type="text" placeholder="e.g. Harsh")
