// MAP DEEP GET
// Get Deeper Values from Map
@function map-deep-get($map, $keys...) {
  @each $key in $keys {
    $map: map-get($map, $key);
  }
  @return $map;
}

// BREAKPOINT CLASS
//Automatically generates class for given breakpoint
@function breakpoint-class($breakpoint, $class) {
  @if ($breakpoint== "phone") {
    $class: #{$class};
  } @else {
    $class: #{$class + $shilp-separator + $breakpoint};
  }
  @return $class;
}

//FONT WITH FALLCACK
@function font-with-fallback($value) {
  @if ($value== "") {
    @return $system-fonts;
  } @else {
    @return $value + "," + $system-fonts;
  }
}

//GENERATE GRADIENT
@function gradient($name, $direction: 90deg) {
  @return linear-gradient($direction, --gradient($name, 1) 0%, --gradient($name, 2) 100%);
}
