// MAP DEEP GET
// Get Deeper Values from Map
@function map-deep-get($map, $keys...) {
  @each $key in $keys {
    $map: map-get($map, $key);
  }
  @return $map;
}

// BREAKPOINT CLASS
//Automatically generates class for given breakpoint
@function breakpoint-class($breakpoint, $class) {
  @if ($breakpoint== "phone") {
    $class: #{$class};
  } @else {
    $class: #{$class + $shilp-separator + $breakpoint};
  }
  @return $class;
}

//FONT WITH FALLCACK
@function font-with-fallback($value) {
  @if ($value== "") {
    @return $system-fonts;
  } @else {
    @return $value + "," + $system-fonts;
  }
}

//GENERATE GRADIENT
@function gradient($name, $direction: null) {
  $colors: map-get($shilp-gradients, $name);
  $start-color: map-get($colors, start);
  $stop-color: map-get($colors, stop);

  @if ($direction) {
  } @else {
    $direction: map-get($colors, direction);
  }

  @return linear-gradient($direction, $start-color 0%, $stop-color 100%);
}
