// MAP DEEP GET
// Get Deeper Values from Map
@function map-deep-get($map, $keys...) {
  @each $key in $keys {
    $map: map-get($map, $key);
  }
  @return $map;
}

// BREAKPOINT CLASS
//Automatically generates class for given breakpoint
@function breakpoint-class($breakpoint, $class) {
  @if ($breakpoint== "phone") {
    $class: #{$class};
  } @else {
    $class: #{$class + map-get($shilp-config, breakpoint-separator) + $breakpoint};
  }
  @return $class;
}

//FONT WITH FALLCACK
@function font-with-fallback($value) {
  $system-fonts: map-get($shilp-config, system-fonts);
  @if ($value== "") {
    @return $system-fonts;
  } @else {
    @return $value + "," + $system-fonts;
  }
}

//GENERATE GRADIENT
@function gradient($name, $direction: 90deg) {
  @return linear-gradient($direction, --gradient($name, 1) 0%, --gradient($name, 2) 100%);
}

//GENERATE COLOR MAP
@function shilp-colors() {
  $colors: ();
  @each $color, $value in $shilp-colors {
    $colors: append($colors, $color);
  }
  @return $colors;
}
