@import "spacing";
@import "text";
@import "color";
@import "border";
@import "misc";
@import "radius";
@import "flex";
@import "shadow";
@import "width";
@import "height";
@import "gap";
@import "opacity";

.hide {
  display: none !important;
}

.list-reset {
  list-style: none;
  padding: 0;
  margin: 0;
}
