$shilp-border-directions: (
  t: "top",
  b: "bottom",
  l: "left",
  r: "right"
);
$shilp-border-colors: map-get($shilp-colors, "grey");

@each $shade, $code in $shilp-border-colors {
  $shadeToAppend: "";
  @if ($shade== "default") {
    $shadeToAppend: "";
  } @else {
    $shadeToAppend: "-#{$shade}";
  }

  // Directions
  @each $dir, $prop in $shilp-border-directions {
    $className: ".b#{$dir}#{$shadeToAppend}";
    #{$className} {
      border-#{$prop}: 1px solid #{--color("grey", $shade)} !important;
    }
  }

  // X
  .bx#{$shadeToAppend} {
    border-left: 1px solid #{--color("grey", $shade)} !important;
    border-right: 1px solid #{--color("grey", $shade)} !important;
  }

  //Y
  .by#{$shadeToAppend} {
    border-top: 1px solid #{--color("grey", $shade)} !important;
    border-bottom: 1px solid #{--color("grey", $shade)} !important;
  }

  //All
  .b#{$shadeToAppend} {
    border: 1px solid #{--color("grey", $shade)} !important;
  }
}
