@each $color, $shades in $shilp-colors {
  @each $shade, $code in $shades {
    //Background Color
    @if ($shade== "default") {
      .bg--#{$color} {
        background-color: --color($color) !important;
      }
    } @else {
      .bg--#{$color}--#{$shade} {
        background-color: --color($color, $shade) !important;
      }
    }

    //Color
    @if ($shade== "default") {
      .color--#{$color} {
        color: --color($color) !important;
      }
    } @else {
      .color--#{$color}--#{$shade} {
        color: --color($color, $shade) !important;
      }
    }
  }
}
