.flex {
  display: flex;
  flex-wrap: wrap;
  > * {
    //As the framework is mobile-first,
    //All the children should occupy full width bydefault
    flex: 1 1 100%;
  }
}

//---------- Wrap
.flex--wrap {
  flex-wrap: wrap;
}

.flex--inline {
  display: inline-flex;
}

.flex--fit {
  > * {
    flex: 0 0 auto;
  }
}

//---------- X Axis
.flex--left {
  justify-content: flex-start;
}
.flex--right {
  justify-content: flex-end;
}
.flex--center {
  justify-content: center;
}
.flex--between {
  justify-content: space-between;
}
.flex--around {
  justify-content: space-around;
}
.flex--evenly {
  justify-content: space-evenly;
}

//---------- Y Axis
.flex--top {
  align-items: flex-start;
}
.flex--bottom {
  align-items: flex-end;
}
.flex--middle {
  align-items: center;
}
.flex--stretch {
  align-items: stretch;
}

//---------- Direction
.flex--column {
  flex-direction: column;
}
.flex--row {
  flex-direction: row;
}

@mixin shilp-flex-wrap($breakpoint) {
  $className: breakpoint-class($breakpoint, ".flex--no-wrap");
  #{$className} {
    flex-wrap: nowrap;
  }
}

@mixin shilp-flex-sizing($breakpoint) {
  $className: breakpoint-class($breakpoint, ".flex__fluid");
  #{$className} {
    flex: 1 1 auto;
  }
  $className: breakpoint-class($breakpoint, ".flex__fit");
  #{$className} {
    flex: 0 0 auto;
  }
}

@mixin shilp-flex-order($breakpoint) {
  @for $i from 1 through 12 {
    // 1-12
    $className: breakpoint-class($breakpoint, o-#{$i});
    .#{$className} {
      order: $i;
    }
  }

  //First
  $className: breakpoint-class($breakpoint, o-first);
  .#{$className} {
    order: -9999;
  }

  //Last
  $className: breakpoint-class($breakpoint, o-last);
  .#{$className} {
    order: 9999;
  }

  //Reset
  $className: breakpoint-class($breakpoint, o-reset);
  .#{$className} {
    order: initial;
  }
}

@include shilp-flex-sizing("phone");
@include shilp-flex-order("phone");
@include shilp-flex-wrap("phone");
//--------------------------------------------------
// MEDIA QUERY
//--------------------------------------------------
@each $breakpoint, $value in $shilp-breakpoints {
  @media only screen and (min-width: $value) {
    @include shilp-flex-sizing($breakpoint);
    @include shilp-flex-order($breakpoint);
    @include shilp-flex-wrap($breakpoint);
  }
}
