//CSS RULES BASED UTILITY CLASSES
$utility-classes: (
  // ta: (
    //   rule: "text-align",
    //   values: (
    //     "center",
    //     "left",
    //     "right"
    //   )
    // ),
    ai:
    (
      rule: "align-items",
      values: (
        "flex-start",
        "flex-end",
        "center"
      )
    ),
  w: (
    rule: "width",
    values: (
      100: "100%"
    )
  ),
  h: (
    rule: "height",
    values: (
      100: "100%"
    )
  )
);
@each $utility, $config in $utility-classes {
  $values: map-get($config, "values");
  $rule: map-get($config, "rule");
  @each $key, $value in $values {
    .#{$utility}--#{$key} {
      @if ($value) {
        #{$rule}: #{$value};
      } @else {
        #{$rule}: #{$key};
      }
    }
  }
}

//SHILP VARIABLES BASED UTILITY CLASSES
$shilp-utility-classes: (
  br: (
    rule: "border-radius",
    map: $shilp-border-radius
  )
);

@each $utility, $config in $shilp-utility-classes {
  $values: map-get($config, "map");
  $rule: map-get($config, "rule");
  @each $key, $value in $values {
    .#{$utility}--#{$key} {
      #{$rule}: --var($rule, $key);
    }
  }
}
