@each $key, $value in $shilp-radius {
  .radius-#{$key} {
    border-radius: --radius($key) !important;
    background-clip: padding-box; //Avoids color leaking due to border-radius\
    overflow: hidden;
  }
}
.radius-0 {
  border-radius: 0 !important;
}
.radius-circle {
  overflow: hidden;
  border-radius: 50% !important;
  background-clip: padding-box; //Avoids color leaking due to border-radius
}
