:root {
  /* BRAND COLORS */
  --color--primary: #000000;
  --color--secondary: #ffe183;
  --color--accent: #ffe183;

  /* DARK COLORS */
  --color--dark: #9e9e9e;
  --color--darker: #424242;
  --color--darkest: #212121;

  /* LIGHT COLORS */
  --color--light: #eeeeee;
  --color--lighter: #f5f5f5;
  --color--lightest: #fafafa;

  /* SOCIAL COLORS */
  --color--facebook: #3b5999;
  --color--messenger: #0084ff;
  --color--twitter: #55acee;
  --color--linkedin: #0077b5;
  --color--skype: #00aff0;
  --color--pinterest: #bd081c;
  --color--youtube: #cd201f;
  --color--reddit: #ff5700;
  --color--whatsapp: #25d366;
  --color--instagram: #e4405f;
  --color--snapchat: #fffc00;
  --color--quora: #b92b27;

  /* FONTS */
  --font-system: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  --font--heading: var(--font-system);
  --font--content: var(--font-system);

  /* FONT SIZE */
  --font-size--h1: 48px;
  --font-size--h2: 36px;
  --font-size--h3: 24px;
  --font-size--h4: 18px;
  --font-size--h5: 16px;
  --font-size--h6: 13px;
  --font-size--p: 16px;
  --font-size--span: 14px;
  --font-size--small: 12px;

  /* FONT WEIGHTS */
  --font-weight: 400;
  --font-weight--bold: 600;
  --font-weight--light: 300;

  /* BORDER RADIUS */
  --border-radius--sm: 0px;
  --border-radius: 0px;
  --border-radius--lg: 0px;

  /* SPACE */
  --space--sm: 8px;
  --space: 16px;
  --space--lg: 24px;
  --space--xl: 32px;
  --space--section: 150px;

  /* INPUT SIZE */
  --input-size: 40px;
  --input-size--small: 32px;
  --input-size--large: 48px;

  /* BOX-SHADOWS */
  --box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.15);
}

/*----------------------------------
MEDIA QUERY
Change variables with respective
to breakpoints
----------------------------------*/

@media only screen and (max-width: 1199px) {
  :root {
    --space--section: 120px;
  }
}

@media only screen and (max-width: 991px) {
  :root {
    --space--section: 60px;
    --font-size--h1: 36px;
    --font-size--h2: 24px;
    --font-size--h3: 18px;
  }
}

@media only screen and (max-width: 767px) {
  :root {
    --space--section: 80px;
  }
}

@media only screen and (max-width: 575px) {
}

@media only screen and (max-width: 400px) {
}
