@mixin box($breakpoint) {
  max-width: map-get($shilp-boxes, $breakpoint);
}

.box {
  margin-left: auto;
  margin-right: auto;
  @include box("phone");
  &.is-fluid {
    max-width: none;
  }
}

@each $breakpoint, $value in $shilp-breakpoints {
  @media only screen and (min-width: $value) {
    .box {
      @include box($breakpoint);
    }
  }
}
