/**
Defines the button variants to generate for.
The values are taken from $button-styles-colors
The color map must contain "hover", "default", "muted", "text" values.
*/
$button-variants: "primary", "secondary", "accent", "light", "dark", "info",
  "success", "danger", "warning";

$button-styles: "solid", "outline", "muted";

$button-shapes: "rectangle", "square", "rounded", "pill", "circle";

/**
BUTTON STYLE MIXINS
Each style has unique CSS rules hence requires seperate mixins.
naming convention is: button-style--<style_name>
*/
@mixin button-style--solid($variant) {
  background-color: var(--color--#{$variant});
  color: var(--text-color--#{$variant});
  path {
    fill: var(--text-color--#{$variant});
  }
  &:hover:not(:disabled) {
    background-color: var(--color--#{$variant}--hover);
  }
}

@mixin button-style--outline($variant) {
  border: $button-outline solid var(--color--#{$variant});
  background-color: transparent;
  color: var(--color--#{$variant});
  path {
    fill: var(--color--#{$variant});
  }
  &:hover:not(:disabled) {
    background-color: var(--color--#{$variant});
    color: var(--text-color--#{$variant});
    path {
      fill: var(--text-color--#{$variant});
    }
  }
}

@mixin button-style--muted($variant) {
  background-color: var(--color--#{$variant}--muted);
  color: var(--color--#{$variant});
  path {
    fill: var(--color--#{$variant});
  }
  &:hover {
    background-color: var(--color--#{$variant}--muted);
    color: var(--color--#{$variant});
  }
}

@mixin button-style($style, $variant) {
  @if $style== "solid" {
    @include button-style--solid($variant);
  } //
  @else if $style== "outline" {
    @include button-style--outline($variant);
  } //
  @else if $style== "muted" {
    @include button-style--muted($variant);
  }
}

/**
BUTTON SHAPES
*/
@mixin button-shape--rectangle {
  border-radius: 0;
}
@mixin button-shape--rounded {
  border-radius: 4px;
}
@mixin button-shape--pill($size) {
  border-radius: var(--input-size--#{$size});
}
@mixin button-shape--square($size) {
  height: var(--input-size--#{$size});
  width: var(--input-size--#{$size});
  padding: 0 !important;
  border-radius: 0;
  svg {
    margin: 0;
  }
}
@mixin button-shape--circle($size) {
  height: var(--input-size--#{$size});
  width: var(--input-size--#{$size});
  padding: 0 !important;
  border-radius: 50%;
  svg {
    margin: 0;
  }
}

@mixin button-shape($shape, $size) {
  @if $shape== "rectangle" {
    @include button-shape--rectangle;
  } //
  @else if $shape== "rounded" {
    @include button-shape--rounded;
  } //
  @else if $shape== "pill" {
    @include button-shape--pill($size);
  } //
  @else if $shape== "square" {
    @include button-shape--square($size);
  } //
  @else if $shape== "circle" {
    @include button-shape--circle($size);
  }
}

/**
BUTTON SIZES
Uses $styles-input-sizes map to define sizes
*/
$button-icon-size: (
  lg: 24px,
  md: 20px,
  sm: 16px
);

@mixin button-size($size) {
  padding: 0px var(--space--#{$size});
  height: var(--input-size--#{$size});
  svg {
    height: map-get($button-icon-size, $size);
    width: map-get($button-icon-size, $size);
  }
}

/**
Default .button rules.
*/
.button,
.button-group > button,
.button-group > a {
  @include button--reset;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  font-family: var(--font--content);
  text-decoration: none;
  font-size: 14px;
  line-height: 1;
  svg {
    margin-right: var(--space--xs);
  }
  &:hover {
    text-decoration: none;
  }
  &:disabled {
    cursor: not-allowed;
    opacity: 0.8;
  }
  &.is-loading {
    cursor: wait;
  }
  &.is-fluid {
    width: 100%;
  }
  @if mixin-exists(__button) {
    @include __button();
  }
  @include button-size($default-button-size);
  @include button-shape($default-button-shape, $default-button-size);
  @include button-style($default-button-style, $default-button-variant);
}

.button-group {
  display: flex;
  > button,
  > a {
    flex: 0 0 auto;
  }
  &.is-stacked {
    flex-direction: column;
    > button,
    > a {
      width: 100%;
    }
  }
}

/**
STYLE CLASSES
Generates classes for button styles.
Uses default variant value.
*/
@each $style in $button-styles {
  .button-group.is-#{$style} > button,
  .button-group.is-#{$style} > a,
  .button.is-#{$style} {
    @include button-style($style, $default-button-variant);
  }
}

/**
VARIANT CLASSES
Generates classes for button variants.
Uses default style value.
*/
@each $variant in $button-variants {
  .button-group.is-#{$variant} > button,
  .button-group.is-#{$variant} > a,
  .button.is-#{$variant} {
    @include button-style($default-button-style, $variant);
  }
}

/**
STYLE & VARIANT CLASSES
Generates classes for button styles & variants.
*/
@each $style in $button-styles {
  @each $variant in $button-variants {
    .button-group.is-#{$variant}.is-#{$style} > button,
    .button-group.is-#{$variant}.is-#{$style} > a,
    .button.is-#{$variant}.is-#{$style} {
      @include button-style($style, $variant);
    }
  }
}

/**
SHAPE CLASSES
Generates classes for button shapes.
Users default size value.
*/
@each $shape in $button-shapes {
  .button-group.is-#{$shape} > button,
  .button-group.is-#{$shape} > a,
  .button.is-#{$shape} {
    @include button-shape($shape, $default-button-size);
  }
}

/**
SIZE CLASSES
Generates classes for button sizes.
Users default size value.
*/
@each $size, $value in $styles-input-sizes {
  .button-group.is-#{$size} > button,
  .button-group.is-#{$size} > a,
  .button.is-#{$size} {
    @include button-size($size);
  }
}

/**
SIZE & SHAPE CLASEES
*/
@each $shape in $button-shapes {
  @each $size, $value in $styles-input-sizes {
    .button-group.is-#{$shape}.is-#{$size} > button,
    .button-group.is-#{$shape}.is-#{$size} > a,
    .button.is-#{$shape}.is-#{$size} {
      @include button-shape($shape, $size);
    }
  }
}
