$shilp-button-defaults: () !default;
$shilp-button-defaults: map-merge(
  (
    "colors": (
      primary,
      secondary,
      accent,
      light,
      dark,
      info,
      success,
      danger,
      warning
    ),
    "styles": (
      trn,
      solid,
      outline,
      muted,
      gradient
    ),
    "shapes": (
      rectangle,
      square,
      rounded,
      pill,
      circle
    ),
    "alignments": (
      left,
      right
    ),
    "color": "primary",
    "style": "solid",
    "shape": "rounded",
    "size": "md",
    "outline": 1px,
    "muted-shade": "lightest",
    "hover-shade": "darker"
  ),
  $shilp-button-defaults
);

$button-shape: map-get($shilp-button-defaults, "shape");
$button-color: map-get($shilp-button-defaults, "color");
$button-size: map-get($shilp-button-defaults, "size");
$button-style: map-get($shilp-button-defaults, "style");
$button-outline: map-get($shilp-button-defaults, "outline");

$button-colors: map-get($shilp-button-defaults, "colors");
$button-styles: map-get($shilp-button-defaults, "styles");
$button-shapes: map-get($shilp-button-defaults, "shapes");
$button-alignments: map-get($shilp-button-defaults, "alignments");
$button-hover-shade: map-get($shilp-button-defaults, "hover-shade");
$button-muted-shade: map-get($shilp-button-defaults, "muted-shade");

// DEFINES COLORS
// Defines the colors to use in diffrent shade based on provided color.
// Specially useful in light and dark shades.
@function define-colors($color) {
  $default: "";
  $text: "";
  $hover: "";
  $muted: "";
  @if ($color== "light") {
    $default: --color(grey, lightest);
    $text: --color(grey, darkest);
    $hover: --color(grey, lighter);
    $muted: --color(grey, lightest);
  } @else if($color== "dark") {
    $default: --color(grey, darkest);
    $text: --color(grey, lightest);
    $hover: --color(grey, darker);
    $muted: --color(grey, darkest);
  } @else {
    $default: --color($color);
    $text: --text-color($color);
    $hover: --color($color, $button-hover-shade);
    $muted: --color($color, $button-muted-shade);
  }
  @return (default: $default, hover: $hover, text: $text, muted: $muted);
}

// STYLES
// Each style has unique CSS rules hence requires seperate mixins.
// naming convention is: button-style--<style_name>
@mixin button-style--solid($color) {
  $colors: define-colors($color);

  background-color: map-get($colors, default);
  color: map-get($colors, text);
  path {
    fill: map-get($colors, text);
  }
  &:hover:not(:disabled) {
    background-color: map-get($colors, hover);
  }
}

@mixin button-style--outline($color) {
  $colors: define-colors($color);

  border: $button-outline solid map-get($colors, default);
  background-color: transparent;
  color: map-get($colors, default);
  path {
    fill: map-get($colors, default);
  }
  &:hover:not(:disabled) {
    background-color: map-get($colors, default);
    color: map-get($colors, text);
    path {
      fill: map-get($colors, text);
    }
  }
}

@mixin button-style--muted($color) {
  $colors: define-colors($color);

  background-color: map-get($colors, muted);
  color: map-get($colors, default);
  path {
    fill: map-get($colors, default);
  }
  &:hover:not(:disabled) {
    background-color: map-get($colors, default);
    color: map-get($colors, text);
    path {
      fill: map-get($colors, text);
    }
  }
}

@mixin button-style--trn($color) {
  $colors: define-colors($color);

  background-color: transparent;
  color: map-get($colors, default);
  path {
    fill: map-get($colors, default);
  }
  &:hover:not(:disabled) {
    background-color: transparent;
    color: map-get($colors, hover);
    path {
      fill: map-get($colors, hover);
    }
  }
}

@mixin button-style--gradient($color) {
  @if (map-has-key($shilp-gradients, $color)) {
    background: gradient($color);
  }
}

@mixin button-style($style, $color) {
  @if $style== "solid" {
    @include button-style--solid($color);
  } //
  @else if $style== "outline" {
    @include button-style--outline($color);
  } //
  @else if $style== "muted" {
    @include button-style--muted($color);
  } //
  @else if $style== "trn" {
    @include button-style--trn($color);
  } //
  @else if $style== "gradient" {
    @include button-style--gradient($color);
    @if mixin-exists(extend--button-style--gradient) {
      @include extend--button-style--gradient();
    }
  }
}

// SHAPES
@mixin button-shape--rectangle {
  border-radius: 0;
}
@mixin button-shape--rounded {
  border-radius: 4px;
}
@mixin button-shape--pill($size) {
  border-radius: --input-size($size);
}
@mixin button-shape--square($size) {
  height: --input-size($size);
  width: --input-size($size);
  padding: 0 !important;
  justify-content: center;
  .button__icon {
    margin: 0;
  }
}
@mixin button-shape--circle($size) {
  height: --input-size($size);
  width: --input-size($size);
  padding: 0 !important;
  border-radius: 50%;
  justify-content: center;
  .button__icon {
    margin: 0;
  }
}

@mixin button-shape($shape, $size) {
  @if $shape== "rectangle" {
    @include button-shape--rectangle;
  } //
  @else if $shape== "rounded" {
    @include button-shape--rounded;
  } //
  @else if $shape== "pill" {
    @include button-shape--pill($size);
  } //
  @else if $shape== "square" {
    @include button-shape--square($size);
  } //
  @else if $shape== "circle" {
    @include button-shape--circle($size);
  }
}

// SIZES
// Uses $shilp-input-sizes map to define sizes
@mixin button-size($size) {
  padding: 0px --space($size);
  height: --input-size($size);
  font-size: map-get($shilp-input-font-sizes, $size);
  .button__icon {
    svg {
      height: map-get($shilp-input-icon-sizes, $size) !important;
      width: map-get($shilp-input-icon-sizes, $size) !important;
    }
  }
}

// ALIGNMENT
@mixin button-alignment--left {
  padding-left: 0;
  justify-content: flex-start;
  .button__icon {
    justify-content: flex-end;
    margin-right: --space(xs);
  }
}
@mixin button-alignment--right {
  padding-right: 0;
  flex-direction: row-reverse;
  justify-content: space-between;
  .button__icon {
    justify-content: flex-start;
    margin-left: --space(xs);
    margin-right: 0;
  }
}

@mixin button-alignment($alignment, $size) {
  .button__icon {
    width: --input-size($size);
  }
  @if $alignment== "left" {
    @include button-alignment--left;
  } //
  @else if $alignment== "right" {
    @include button-alignment--right;
  } //
}

// Default .button rules.
.button {
  @include button--reset;
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  font-family: --font-family(content);
  text-decoration: none;
  line-height: 1;
  justify-content: center;
  &:hover {
    text-decoration: none;
  }
  &:disabled {
    cursor: not-allowed;
    opacity: 0.8;
  }
  @if mixin-exists(__button) {
    @include __button();
  }
  @include button-size($button-size);
  @include button-shape($button-shape, $button-size);
  //@include button-style($button-style, $button-color);

  &.loader {
    span,
    .button__icon {
      visibility: hidden;
    }
  }
}

.button__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: --space(xs);
}

//BUTTON GROUP
.buttons {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  .button {
    flex: 0 0 auto;
  }
}
.buttons--stacked {
  flex-direction: column;
  .button {
    width: 100%;
  }
}

//SIMPLE MODIFIERS
.button--loading {
  cursor: wait;
}
.button--fluid {
  width: 100%;
}

// STYLE CLASSES
// Generates classes for button styles.
// Uses default color value.
@each $style in $button-styles {
  .button--#{$style} {
    @include button-style($style, $button-color);
  }
}

// COLORS CLASSES
// Generates classes for button colors.
// Uses default style value.
@each $color in $button-colors {
  .button--#{$color} {
    @include button-style($button-style, $color);
  }
}

// STYLE & COLOR CLASSES
// Generates classes for button styles & colors.
@each $style in $button-styles {
  @each $color in $button-colors {
    .button--#{$color}.button--#{$style} {
      @include button-style($style, $color);
    }
  }
}

// SHAPE CLASSES
// Generates classes for button shapes.
// Users default size value.
@each $shape in $button-shapes {
  .button--#{$shape} {
    @include button-shape($shape, $button-size);
  }
}

// SIZE CLASSES
// Generates classes for button sizes.
// Users default size value.
@each $size, $value in $shilp-input-sizes {
  .button--#{$size} {
    @include button-size($size);
  }
}

// SIZE & SHAPE CLASEES
@each $shape in $button-shapes {
  //These shapes do not depend on sizes
  @if ($shape!= "rectangle" and $shape!= "rounded") {
    @each $size, $value in $shilp-input-sizes {
      .button--#{$shape}.button--#{$size} {
        @include button-shape($shape, $size);
      }
    }
  }
}

// ALIGNMENT CLASSES
// Uses default Button Size
@each $align in $button-alignments {
  .button--#{$align} {
    @include button-alignment($align, $button-size);
  }
}

@each $align in $button-alignments {
  @each $size, $value in $shilp-input-sizes {
    .button--#{$align}.button--#{$size} {
      @include button-alignment($align, $size);
    }
  }
}
