//--------------------------------------------------
// Handle Border Radius
//--------------------------------------------------
.button-group--join {
  display: inline-flex;

  >.button:not(:nth-of-type(1)):not(:nth-last-of-type(1)),
  >.choice:not(:nth-of-type(1)):not(:nth-last-of-type(1)) .button {
    border-radius: 0;
  }

  &:not(.button-group--stack) {

    >.button:nth-of-type(1),
    >.choice:nth-of-type(1) .button {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    >.button:nth-last-of-type(1),
    >.choice:nth-last-of-type(1) .button {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    >.button+.button,
    >.choice+.choice .button {
      border-left: none;
    }
  }

  &.button-group--stack {

    >.button:nth-of-type(1),
    >.choice:nth-of-type(1) .button {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    >.button:nth-last-of-type(1),
    >.choice:nth-last-of-type(1) .button {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    >.button+.button,
    >.choice+.choice .button {
      border-top: none;
    }
  }

}

.button-group--stack {
  flex-direction: column;
}

.button-group--fluid {
  display: flex;

  .button {
    flex: 1 1 auto;
  }
}