//--------------------------------------------------
// CONFIGURATION
//--------------------------------------------------

//---------- Config: Via SCSS Maps
$shilp-card-defaults: () !default;
$shilp-card-defaults: map-merge(
  (
    "sizes": (
      xs,
      sm,
      md,
      lg,
      xl
    )
  ),
  $shilp-card-defaults
);

//---------- Config: Via CSS Vars
$shilp-card-vars: () !default;
$shilp-card-vars: map-merge(
  (
    "border-size": 1px,
    "border-color": --color(grey, lighter)
  ),
  $shilp-card-vars
);

//---------- Local Variables
$card-sizes: map-get($shilp-card-defaults, "sizes");
$card-border-color: var(--card--border-color);

//--------------------------------------------------
// MIXINS
//--------------------------------------------------

//---------- SIZE
@mixin card--card--size($breakpoint) {
  @each $size in $card-sizes {
    $className: breakpoint-class($breakpoint, card--#{$size});
    .#{$className} {
      --card--size: #{--space($size)};
    }
  }
}

//--------------------------------------------------
// BLOCK & ELEMENTS
//--------------------------------------------------

.card {
  @include component-vars("card", $shilp-card-vars);
  --card--size: 0;
  display: inline-flex;
  flex-direction: column;
  background-clip: padding-box;
  background-color: --color(light);
  > *:not(.ratio) {
    background-color: --color(light);
    padding-left: var(--card--size);
    padding-right: var(--card--size);
    &:first-child {
      padding-top: var(--card--size);
    }
    &:last-child {
      padding-bottom: var(--card--size);
    }
    &:only-child {
      padding: var(--card--size);
    }
  }
}

//---------- HEADER
.card__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--card--size);
  //When the header is not first child,
  // Reduce the horizontal space for better UI
  &:not(:first-child) {
    padding-bottom: calc(var(--card--size) * 4 / 6);
  }
}

.card__body {
  flex: 1 1 auto;
}
.card__title {
  margin: 0;
  margin-right: auto;
  line-height: 1;
  display: flex;
  flex-direction: column;
  > * {
    margin: 0;
    line-height: 1;
  }
}
.card__icon {
  margin-right: --space(xs);
}

//---------- FOOTER
.card__footer {
  padding-top: var(--card--size);
}

//--------------------------------------------------
// MODIFIERS
//--------------------------------------------------

@include card--card--size("phone");

.card--fluid {
  display: block;
}

.card--split {
  > * {
    &:not(.ratio) {
      padding: var(--card--size) !important;
    }
  }
}

//---------- STYLE: BORDER
.card--border {
  > * {
    border: var(--card--border-size) solid $card-border-color;
    + * {
      border-top: none;
    }
  }
}

//--------------------------------------------------
// MEDIA QUERY
//--------------------------------------------------
@each $breakpoint, $value in $shilp-breakpoints {
  @media only screen and (min-width: $value) {
    @include card--card--size($breakpoint);
  }
}
