//TODO: Automatically highlight selected checkbox in button style.

.choice {
  display: flex;
  align-items: center;
  &:not(.choice--custom) {
    height: var(--field--size);
    line-height: var(--field--size);
  }
  > input {
    margin: 0;
  }
  > label:not(.button) {
    margin-bottom: 0;
    margin-left: --space(xs);
    color: #000;
    cursor: pointer;
    line-height: 1;
  }
  > label.button {
    width: 100%;
  }
}

.choice--custom {
  height: auto;
  line-height: initial;
  input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
  > label {
    margin-left: 0;
  }
}
