@each $variant, $color in $styles-colors {
  @each $shade, $code in $color {
    //Color
    .is-#{$variant} {
      @if ($shade== "default") {
        color: --color($variant);
        //Background Color
        &.is-block {
          background-color: --color($variant);
          color: --text-color($variant);
        }
      } @else {
        //Color
        &.is-#{$shade} {
          color: --color($variant, $shade);
          //Background Color
          &.is-block {
            background-color: --color($variant, $shade);
            color: --color($variant, hover);
          }
        }
      }
    }
  }
}
