@each $color, $shades in $shilp-colors {
  @each $shade, $code in $shades {
    //Background Color
    .bg-color--#{$color} {
      @if ($shade== "default") {
        background-color: --color($color);
        color: --text-color($color);
      } @else {
        //Color
        &.shade--#{$shade} {
          background-color: --color($color, $shade);
          color: --text-color($color);
        }
      }
    }

    //Color
    .color--#{$color} {
      @if ($shade== "default") {
        color: --color($color);
      } @else {
        &.shade--#{$shade} {
          color: --color($color, $shade);
        }
      }
    }
  }
}
