@mixin gap($breakpoint, $direction, $gap) {
  $className: breakpoint-class($breakpoint, g#{$direction}--#{$gap});
  $rule: "";
  @if ($direction== "x") {
    $rule: "margin-left";
  }
  @if ($direction== "y") {
    $rule: "margin-top";
  }

  .#{$className} {
    > * {
      + * {
        #{$rule}: --gap($gap);
      }
    }
  }
}

[class*="gx--"] {
  display: inline-flex;
  flex-direction: row;
}
[class*="gy--"] {
  display: inline-flex;
  flex-direction: column;
}

@each $gap, $value in $styles-gaps {
  @include gap("desktop", "x", $gap);
  @include gap("desktop", "y", $gap);
}

@each $breakpoint, $value in $styles-breakpoints {
  @media only screen and (max-width: $value) {
    @each $gap, $value in $styles-gaps {
      @include gap($breakpoint, "x", $gap);
      @include gap($breakpoint, "y", $gap);
    }
  }
}
