@mixin gap($breakpoint, $direction, $gap) {
  $className: breakpoint-class($breakpoint, g#{$direction}--#{$gap});
  $rule: "";
  @if ($direction== "x") {
    $rule: "margin-right";
  }
  @if ($direction== "y") {
    $rule: "margin-bottom";
  }

  .#{$className} {
    > * {
      flex: 1 1 0; //Makes all the childs same width when wrapped;
      #{$rule}: --space($gap);
    }
  }
}

[class*="gx--"] {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
}
[class*="gy--"] {
  display: inline-flex;
  flex-direction: column;
}

@each $gap, $value in $shilp-spaces {
  @include gap("phone", "x", $gap);
  @include gap("phone", "y", $gap);
}

@each $breakpoint, $value in $shilp-breakpoints {
  @media only screen and (min-width: $value) {
    @each $gap, $value in $shilp-spaces {
      @include gap($breakpoint, "x", $gap);
      @include gap($breakpoint, "y", $gap);
    }
  }
}
