//GRID
@mixin grid($breakpoint) {
  @for $size from 1 through 12 {
    $className: breakpoint-class($breakpoint, is-#{$size});
    &.#{$className} {
      //Ocupies the space required for content.
      grid-template-columns: repeat($size, minmax(min-content, max-content));
      &.is-fluid {
        //Distributes across available space.
        grid-template-columns: repeat($size, 1fr);
      }
    }
  }
}

.grid {
  display: grid;
  gap: --gap(md);
  @include grid("desktop");
}
