//--------------------------------------------------
// CONFIGURATION
//--------------------------------------------------

//---------- Config: Via SCSS Maps
$shilp-grid-defaults: () !default;
$shilp-grid-defaults: map-merge(("items": 8),
  $shilp-grid-defaults);

//---------- Config: Via CSS Vars
$shilp-grid-vars: () !default;
$shilp-grid-vars: map-merge(("items": 4),
  $shilp-grid-vars);

//---------- Local Variables
$grid-items: map-get($shilp-grid-defaults, "items");

//--------------------------------------------------
// MIXINS
//--------------------------------------------------

// RESPONSIVE GRID SIZE
// Generates the responsive classes based on breakpoint. with all the gap values.
@mixin shilp-grid-size($breakpoint) {
  @for $i from 1 through $grid-items {
    $className: breakpoint-class($breakpoint, grid--#{$i});

    .#{$className} {
      --grid--items: #{$i};
    }
  }
}

//--------------------------------------------------
// BLOCK & ELEMENTS
//--------------------------------------------------
.grid {
  @include component-vars("grid", $shilp-grid-vars);
  display: grid !important;
  grid-template-columns: repeat(var(--grid--items), 1fr);
}

@include shilp-grid-size("phone");

//--------------------------------------------------
// MODIFIERS
//--------------------------------------------------
//--------------------------------------------------
// MEDIA QUERY
//--------------------------------------------------
@each $breakpoint,
$value in $shilp-breakpoints {
  @media only screen and (min-width: $value) {
    @include shilp-grid-size($breakpoint);
  }
}