//--------------------------------------------------
// CONFIGURATION
//--------------------------------------------------
//---------- Config: Via SCSS Maps
$shilp-item-defaults: () !default;
$shilp-item-defaults: map-merge((), $shilp-item-defaults);

//---------- Local Variables

//---------- Config: Via CSS Vars
$shilp-item-vars: () !default;
$shilp-item-vars: map-merge((), $shilp-item-vars);

//--------------------------------------------------
// BLOCK & ELEMENTS
//--------------------------------------------------
.item {
  @include component-vars("item", $shilp-item-vars);
  display: inline-grid;
  //The first row should not expand more than the content
  //The second content should expand till it's max content
  grid-template-rows: minmax(0, min-content) 1fr;
  grid-template-columns: min-content auto;
  gap: var(--item--gap);

  >.media {
    grid-row: 1 / 3;
  }
}

.item__media {
  grid-row: 1 / 3;
}

.item__title {
  grid-column: 2 / 3;

  ~.item__body {
    grid-row: 2 / 3;
  }
}

.item__body {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

//--------------------------------------------------
// MODIFIERS
//--------------------------------------------------

.item--middle {
  grid-template-rows: minmax(min-content, auto) minmax(min-content, auto);

  .item__title {
    align-self: flex-end;
  }
}

.item--fluid {
  display: grid;
}