//--------------------------------------------------
// CONFIGURATION
//--------------------------------------------------
//---------- Config: Via SCSS Maps
$shilp-item-defaults: (
  gaps: (
    0: 0px,
    1: 2px,
    2: 4px,
    3: 6px,
    4: 8px,
    5: 10px,
    6: 12px
  )
) !default;
$shilp-item-defaults: map-merge((), $shilp-item-defaults);

//---------- Local Variables
$shilp-item-gaps: map-get($shilp-item-defaults, gaps);

//---------- Config: Via CSS Vars
$shilp-item-vars: () !default;
$shilp-item-vars: map-merge(
  (
    gap: 0px
  ),
  $shilp-item-vars
);

//--------------------------------------------------
// BLOCK & ELEMENTS
//--------------------------------------------------
.item {
  @include component-vars("item", $shilp-item-vars);
  display: inline-grid;
  //The first row should not expand more than the content
  //The second content should expand till it's max content
  grid-template-rows: minmax(0, min-content) 1fr;
  grid-template-columns: min-content auto;
  gap: var(--item--gap);
  > .media {
    grid-row: 1 / 3;
  }
}

.item__media {
  grid-row: 1 / 3;
}

.item__title {
  grid-column: 2 / 3;
  ~ .item__body {
    grid-row: 2 / 3;
  }
}
.item__body {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

//--------------------------------------------------
// MODIFIERS
//--------------------------------------------------

.item--middle {
  grid-template-rows: 50% 50%;
  .item__title {
    align-self: flex-end;
  }
}
@each $key, $value in $shilp-item-gaps {
  .item--#{$key} {
    --item--gap: #{$value};
  }
}
