//--------------------------------------------------
// CONFIGURATION
//--------------------------------------------------

//---------- Config: Via SCSS Maps
$shilp-list-defaults: () !default;
$shilp-list-defaults: map-merge((), $shilp-list-defaults);

//---------- Config: Via CSS Vars
$shilp-list-vars: () !default;
$shilp-list-vars: map-merge((), $shilp-list-vars);

//---------- Local Variables
$list-gaps: map-get($shilp-list-defaults, "gaps");

//--------------------------------------------------
// BLOCK & ELEMENTS
//--------------------------------------------------
.list {
  @include component-vars("list", $shilp-list-vars);
  display: inline-grid;
  grid-auto-flow: column;
}

//--------------------------------------------------
// MODIFIERS
//--------------------------------------------------

//---------- STACK
.list--stack {
  grid-auto-flow: row;
  &.list--fit {
    grid-auto-rows: max-content;
  }
}

//---------- FLUID
.list--fluid {
  display: grid;
}

.list--fit {
  grid-auto-columns: max-content;
}
