$shilp-loader-defaults: () !default;
$shilp-loader-defaults: map-merge(
  (
    "size": md,
    "width": 3px,
    "base-color": rgba(255, 255, 255, 0.8),
    "overlay-color": rgba(255, 255, 255, 0.5),
    "color": rgba(0, 0, 0, 0.1)
  ),
  $shilp-loader-defaults
);

$loader-color: map-get($shilp-loader-defaults, "color");
$loader-size: map-get($shilp-loader-defaults, "size");
$loader-width: map-get($shilp-loader-defaults, "width");
$loader-base-color: map-get($shilp-loader-defaults, "base-color");
$loader-overlay-color: map-get($shilp-loader-defaults, "base-color");

@mixin loader-size($size) {
  &:after {
    width: map-get($shilp-input-icon-sizes, $size);
    height: map-get($shilp-input-icon-sizes, $size);
  }
}

.loader {
  position: relative;
  pointer-events: none;
  cursor: wait;
  &:after {
    content: "";
    border-radius: 50%;
    border-style: solid;
    display: block;
    z-index: 3;
    animation-name: loading;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    margin: auto;
    border-width: $loader-width;
    border-color: $loader-color $loader-base-color $loader-base-color $loader-base-color;
    @include position(absolute);
  }
  @include loader-size($loader-size);
}

.loader--overlay {
  &:before {
    content: "";
    @include position(absolute);
    background-color: $loader-overlay-color;
    z-index: 2;
  }
}

@each $size, $value in $shilp-input-sizes {
  .loader--#{$size} {
    @include loader-size($size);
  }
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
