//--------------------------------------------------
// CONFIGURATION
//--------------------------------------------------

//---------- Config: Via SCSS Maps
$shilp-loader-defaults: () !default;
$shilp-loader-defaults: map-merge(
  (
    "size": md
  ),
  $shilp-loader-defaults
);

//---------- Config: Via CSS Vars
$shilp-loader-vars: () !default;
$shilp-loader-vars: map-merge(
  (
    "thickness": 3px,
    "base-color": rgba(255, 255, 255, 0.4),
    "color": rgba(255, 255, 255, 0.8)
  ),
  $shilp-loader-defaults
);

//---------- Local Variables
$loader-size: map-get($shilp-loader-defaults, "size");
$loader-thickness: var(--loader--thickness);

//--------------------------------------------------
// MIXINS
//--------------------------------------------------
@mixin loader--size($size) {
  --loader--size: #{map-get($shilp-input-icon-sizes, $size)};
}

//--------------------------------------------------
// CSS BLOCK & ELEMENTS
//--------------------------------------------------
.loader {
  @include component-vars("loader", $shilp-loader-vars);
  @include loader--size($loader-size);
  position: relative;
  pointer-events: none;
  cursor: wait;
  &:after {
    border-width: $loader-thickness;
    width: var(--loader--size);
    height: var(--loader--size);
    @include position(absolute);
    border-color: var(--loader--color) var(--loader--base-color) var(--loader--base-color) var(--loader--base-color);
    content: "";
    border-radius: 50%;
    border-style: solid;
    display: block;
    z-index: 3;
    animation-name: loading;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    margin: auto;
  }
}

//--------------------------------------------------
// MODIFIERS
//--------------------------------------------------

//---------- DARK
.loader--dark {
  --loader--color: rgba(0, 0, 0, 0.6);
  --loader--base-color: rgba(0, 0, 0, 0.2);
}

//---------- LOADER
@each $key, $value in $shilp-input-icon-sizes {
  .loader--#{$key} {
    @include loader--size($key);
  }
}

//--------------------------------------------------
// ANIMATIONS
//--------------------------------------------------
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
