//--------------------------------------------------
// CONFIGURATION
//--------------------------------------------------

//---------- Config: Via SCSS Maps
$shilp-media-defaults: () !default;
$shilp-media-defaults: map-merge((), $shilp-media-defaults);

//---------- Config: Via CSS Vars
$shilp-media-vars: () !default;
$shilp-media-vars: map-merge(
  (
    "fit": "contain",
    "position": "center"
  ),
  $shilp-media-vars
);

//---------- Local Variables

//--------------------------------------------------
// MIXINS
//--------------------------------------------------

//--------------------------------------------------
// BLOCK & ELEMENTS
//--------------------------------------------------
.media {
  @include component-vars("media", $shilp-media-vars);
}
.media__wrap {
  > img,
  > video,
  > iframe {
    width: 100%;
    height: 100%;
    object-fit: var(--media--fit);
    object-position: var(--media--position);
  }
}

//--------------------------------------------------
// MODIFIERS
//--------------------------------------------------`
.media--cover {
  --media--fit: cover;
}
