//--------------------------------------------------
// CONFIGURATION
//--------------------------------------------------

//---------- Config: Via SCSS Maps
$shilp-modal-defaults: () !default;
$shilp-modal-defaults: map-merge(
  (
    //Diffrent sizes for modal.
      //This will be used as max-width of modal
      //So at any point of size, modal will not be larger than screen width
      "sizes":
      (
        xs: 480px,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px
      ),
    //Defines the padding to keep around modal for diffrent breakpoints.
      "space-around":
      (
        phone: --space(1),
        phablet: --space(2),
        tablet: --space(3),
        laptop: --space(4),
        desktop: --space(5)
      )
  ),
  $shilp-modal-defaults
);

//---------- Config: Via CSS Vars
$shilp-modal-vars: () !default;
$shilp-modal-vars: map-merge(
  (
    "size": #{map-deep-get($shilp-modal-defaults, sizes, md)},
    "space-around": #{map-deep-get($shilp-modal-defaults, "space-around", phone)}
  ),
  $shilp-modal-vars
);

//---------- Local Variables
$modal-sizes: map-get($shilp-modal-defaults, "sizes");

//--------------------------------------------------
// BLOCK & ELEMENTS
//--------------------------------------------------
.modal {
  @include component-vars("modal", $shilp-modal-vars);
  @include position(fixed, 0, 0, 0, 0);
  z-index: 98;
  overflow: auto;
  display: none;
  align-items: center;
  justify-content: center;
}

.modal__overlay {
  z-index: 99;
  overflow: hidden;
  @include position(absolute, 0, 0, 0, 0);
}
.modal__wrapper {
  z-index: 100;
  overflow: auto;
  max-width: var(--modal--size);
  max-height: calc(100% - var(--modal--space-around) * 2);
  margin: var(--modal--space-around);
  border-radius: map-get($shilp-config, "radius");
  background-color: --color(light);
}
.modal__close {
  @include position(fixed, 0, 0, auto, auto);
  z-index: 101;
  padding: --space(3);
  border: none;
  background: transparent;
  color: #fff;
  cursor: pointer;
}
//--------------------------------------------------
// MODIFIERS
//--------------------------------------------------
@each $size, $value in $modal-sizes {
  .modal--#{$size} {
    --modal--size: #{$value};
  }
}

.modal--fluid {
  --modal--size: 100%;
}
.modal--show {
  display: flex;
}

//--------------------------------------------------
// MEDIA QUERY
//--------------------------------------------------
@each $breakpoint, $value in $shilp-breakpoints {
  @media only screen and (min-width: $value) {
    .modal {
      --modal--space-around: #{map-deep-get(
          $shilp-modal-defaults,
          "space-around",
          $breakpoint
        )};
    }
  }
}
