//--------------------------------------------------
// CONFIGURATION
//--------------------------------------------------

//---------- Config: Via SCSS Maps
$shilp-row-defaults: () !default;
$shilp-row-defaults: map-merge((), $shilp-row-defaults);

//---------- Config: Via CSS Vars
$shilp-row-vars: () !default;
$shilp-row-vars: map-merge((), $shilp-row-vars);

//---------- Local Variables

//--------------------------------------------------
// MIXINS
//--------------------------------------------------

//--------------------------------------------------
// CSS BLOCK & ELEMENTS
//--------------------------------------------------

.row {
  @include component-vars("row", $shilp-row-vars);
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
