//CUSTOM SELECT
$select-arrow-color: map-deep-get($shilp-colors, "grey", "default");
$select-arrow: m-icon("M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z", $select-arrow-color);

.select {
  position: relative;
  padding: 0;
  select {
    @include field-defaults;
    border-radius: var(--field--radius);
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: transparent;
    padding-right: 32px;
    z-index: 2;
    height: 100%;
    vertical-align: top;
    position: relative;
    outline: none;
  }
  &:after {
    content: "";
    @include position(absolute, 0, 0, 0, auto);
    width: 32px;
    height: 100%;
    display: block;
    background-image: url($select-arrow);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px;
  }
  &.loader {
    &:after {
      background-image: none;
    }
  }
}
