.shimmer {
  animation-duration: 5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: shilp-shimmer;
  animation-timing-function: linear;
  background: linear-gradient(to right,
      --color(grey, lightest) 5%,
      --color(grey, lighter) 50%,
      --color(grey, lightest) 95%);
  background-size: 1200px 100%;
  width: 100%;
  position: relative;
}