$directions: (
  t: (
    "top"
  ),
  b: (
    "bottom"
  ),
  l: (
    "left"
  ),
  r: (
    "right"
  ),
  x: (
    "left",
    "right"
  ),
  y: (
    "top",
    "bottom"
  ),
  "": (
    "top",
    "bottom",
    "left",
    "right"
  )
);

@mixin space($bp, $prop, $direction) {
  @include loop-size using ($size) {
    @include breakpoint-rule($bp, #{$prop}#{$direction}--#{$size}) {
      $space-rule: map-get($directions, $direction);
      @each $rule, $val in $space-rule {
        @if ($prop== "m") {
          margin-#{$rule}: var(--space--#{$size});
        }
        @if ($prop== "p") {
          padding-#{$rule}: var(--space--#{$size});
        }
      }
    }
  }
}

//Default Rule
@each $direction, $key in $directions {
  @include space($default-breakpoint, "m", $direction);
  @include space($default-breakpoint, "p", $direction);
}

//Media Query
@include loop-breakpoint() using ($bp) {
  //Default Rule
  @each $direction, $key in $directions {
    @include space($bp, "m", $direction);
    @include space($bp, "p", $direction);
  }
}
