$space-directions: (
  t: (
    "top"
  ),
  b: (
    "bottom"
  ),
  l: (
    "left"
  ),
  r: (
    "right"
  ),
  x: (
    "left",
    "right"
  ),
  y: (
    "top",
    "bottom"
  )
);

$space-props: (
  m: "margin",
  p: "padding"
);

@mixin space($breakpoint) {
  @each $prop-initial, $prop in $space-props {
    //All Directions
    @each $space, $value in $styles-spaces {
      $className: breakpoint-class($breakpoint, #{$prop-initial}--#{$space});
      .#{$className} {
        #{$prop}: --space($space);
      }
    }

    //Left,Right,Top,Bottom,X,Y
    @each $direction-initial, $direction in $space-directions {
      @each $space, $value in $styles-spaces {
        $className: breakpoint-class(
          $breakpoint,
          #{$prop-initial}#{$direction-initial}--#{$space}
        );
        .#{$className} {
          @each $side, $value in $direction {
            #{$prop}-#{$side}: --space($space);
          }
        }
      }
    }
  }
}

@include space("phone");

//Media Query
@each $breakpoint, $value in $styles-breakpoints {
  @media only screen and (max-width: $value) {
    @include space($breakpoint);
  }
}
