// Sets the default font-family, size, weight for text tags.
@each $tag, $tag-settings in $shilp-text {
  #{$tag},
  .#{$tag} {
    font-size: --font-size($tag);
    margin-top: 0;
    font-family: map-get($tag-settings, "font-family");
    font-weight: map-get($tag-settings, "font-weight");
  }
}
