@mixin container($breakpoint) {
  max-width: var(--container-width--#{$breakpoint});
  padding-left: var(--gap--#{$breakpoint});
  padding-right: var(--gap--#{$breakpoint});
}

.ss-container {
  margin-left: auto;
  margin-right: auto;
  @include container(xl);
  &.is-fluid {
    max-width: none;
  }
}

@each $bp, $value in $breakpoints {
  @media only screen and (max-width: $value) {
    .ss-container {
      @include container($bp);
    }
  }
}
